body {
  background-color: gray;
  text-align: center;
}

h1 {
  font-size: 2em;
  background-color: yellow;
  width: 50%;
  margin: 0px auto;
}

img {
  max-width: 90%;
}

@media screen and (min-width: 700px) {
  h1 {
    background-color: blue;
    width: 800px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: red;
  }
  h1 {
    font-family: Helvetica;
    background-color: orange;
  }
}
